// COLOR VARIABLES \\
$darker-grey:#666666;
$grey: #818285;
$orange: #FF9900;
$blue: #00B8CA;
$dark-grey: #78797B;
$white: #F3F3F3;

.jumbotron {
    background-color: transparent;
    background: url('https://res.cloudinary.com/hsi/image/upload/v1554783279/BCKC/backgrounds/full-bloom.png');
    // background: url('https://res.cloudinary.com/hsi/image/upload/v1556164724/BCKC/backgrounds/regal.png');
    // background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.2))),
    // url(https://res.cloudinary.com/hsi/image/upload/v1556164411/BCKC/backgrounds/morocco.png);
    // background: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)),
    // url(https://res.cloudinary.com/hsi/image/upload/v1556164411/BCKC/backgrounds/morocco.png);
    // background: -o-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)),
    // url(https://res.cloudinary.com/hsi/image/upload/v1556164411/BCKC/backgrounds/morocco.png);
    // background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)),
    // url(https://res.cloudinary.com/hsi/image/upload/v1556164411/BCKC/backgrounds/morocco.png);
    height: 250px;
   .brnd-img{
            height: 160px;
            width: 160px;
        }
    #brnd-hdr {
        font-family: 'Cinzel';
        color: $darker-grey;
    }
}

#sgl-bdr {
    border-bottom:1px solid $orange;
    border-top:1px solid $orange;
.nav-item {
    .nav-link {
    color: $darker-grey;
    font-family: 'Cinzel';
    letter-spacing: 2px;
    // font-weight: 600;
&:hover {
    color: $orange;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: color;
    transition-property: color;
    border-radius: 16px;
}
    }

}
}

// HOME SLIDER \\

.carousel {
    // background: $orange;
    // background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
    background: #7a7a7a;
    /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #7a7a7a 100%, #fb9d23 100%);
    /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, #7a7a7a 100%, #fb9d23 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, #7a7a7a 100%, #fb9d23 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7a7a7a', endColorstr='#fb9d23', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */

}

.carousel-cell {
    width: 90%;
    height: 560px;
    /* flex-box, center image in cell */
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}

.carousel-cell img {
    display: block;
    // background-color: $orange;
    max-width: 80%;
    max-height: 120%;
    /* dim unselected */
    opacity: 0.7;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-filter: blur(2px);
    filter: blur(2px);
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s, transform 0.3s, -webkit-filter 0.3s, filter 0.3s;
    transition: opacity 0.3s, transform 0.3s, filter 0.3s;
}

/* brighten selected image */
.carousel-cell.is-selected img {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: none;
    filter: none;
}

/* buttons, no circle */
.flickity-prev-next-button {
    width: 60px;
    height: 60px;
    background: transparent;
    opacity: 0.6;
}

.flickity-prev-next-button:hover {
    background: transparent;
    opacity: 1;
}

/* arrow color */
.flickity-prev-next-button .arrow {
    fill: $orange;
}

.flickity-prev-next-button.no-svg {
    color: $orange;
}

/* closer to edge */
.flickity-prev-next-button.previous {
    left: 0;
}

.flickity-prev-next-button.next {
    right: 0;
}

/* hide disabled button */
.flickity-prev-next-button:disabled {
    display: none;
}

// dots //
.flickity-page-dots {
    display: none;
}

// FOOTBAR \\
#brnd-hdr-ftr {
    font-family: 'Cinzel';
}